.create-issue-form {
  width: 30rem;
  margin: 20px auto;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.create-issue-form label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.create-issue-form select,
.create-issue-form input[type='text'],
.create-issue-form textarea,
.create-issue-form input[type='datetime-local'],
.create-issue-form input[type='file'] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.create-issue-form select:focus,
.create-issue-form input[type='text']:focus,
.create-issue-form textarea:focus,
.create-issue-form input[type='datetime-local']:focus,
.create-issue-form input[type='file']:focus {
  outline: none;
  border-color: #d0136f;
}

.create-issue-form textarea {
  resize: vertical;
}

.create-issue-form button[type='submit'],
.create-issue-form button[type='button'] {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #d0136f;
  color: white;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.create-issue-form button[type='submit']:hover,
.create-issue-form button[type='button']:hover {
  background-color: #ff4e99;
}

.story-point-container {
  margin-bottom: 15px;
}

.story-point-slider {
  position: relative;
}

.story-point-slider input[type='range'] {
  width: 100%;
  margin-bottom: 5px;
}

.story-point-labels {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-weight: bold;
}

.story-point-labels li {
  flex: 1;
  text-align: center;
}
